{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtrerer etter "{{ .Title }}"</h3>
  <small>
    <a href="{{ "/blogg" | relURL }}">Fjern filter</a>
  </small>
  {{ end }}
  <div class="blog-posts">
  {{ range .Pages }}
    <a href="{{ .Permalink }}">
    <h3>{{ .Title }}</h3>
    <p>{{ .Summary | printf "%.200s" }} ...</p>
      {{ if eq .ReadingTime 1 }}
      <small>Først publisert: {{ .Date.Format "02.01.2006" }}, lesetid ca. 1 minutt</small>
      {{ else }}
      <small>Først publisert: {{ .Date.Format "02.01.2006" }}, lesetid ca. {{ .ReadingTime }} minutter</small>
      {{ end }}
    </a>
  {{ else }}
    <li>
      No posts yet
    </li>
  {{ end }}
  </div>
   <!-- Pagination script-->
  <div id="pagination"></div>
  <script src="pagination.js"></script>
  {{ if .Data.Singular }}
  {{else}}
    <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    {{ end }}
</content>
{{ end }}