<style>

  @import url('fonts/inter.css');
    html { 
      font-family: 'Inter', sans-serif; 
    }
  @supports (font-variation-settings: normal) {
    html { 
      font-family: 'Inter var', sans-serif; 
    }
  }

  body {
    margin: auto;
    font-size: 1.2rem;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #222;
  }

  a {
    color: #3273dc;
    /*color: #ff5e6c;*/
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .logo-icon {
    float:left;
    padding-right: 10px;
  }

  .logo-box {
    display:inline-block;
    width: 100%;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 5px;
    padding-right: 10px;
    color:#444;
    text-decoration: none;
    border-right: 2px solid rgb(35, 19, 253);
  }

  nav a:hover {
    color:rgb(145, 139, 139)
  }

  nav a:last-of-type {
    border-right: none;

  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: #f2f2f2;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  .blog-posts a {
    text-decoration: none;
    color:#444;
  }

  .blog-posts h3 {
    border-bottom: 1px solid rgb(35, 19, 253);
  }

  .blog-posts h3::first-letter {
    color:rgb(35, 19, 253);
  }

  .blog-posts a:hover, .blog-posts h3:hover {
    color:rgb(145, 139, 139);
  }

  #pagination {
    margin: auto;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid rgb(35, 19, 253);
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  #pagination span {
    padding-right: 20px;
    padding-left: 20px;
  }

  div#TableOfContents {
    padding-top: 10px; 
  }
  #TableOfContents li {
    list-style: circle;
  }
</style>
